
.intercars-common-button{
  height: 56px;
  position: relative;
  min-width: 150px;
  background-color: #0243a6;
  transition:background  1s;
  border:1px solid #0243a6 ;
  color: white;

  &:hover{
    //background-color: darken(#0243a6, 15);
    animation: gra 0.6s ;
    animation-iteration-count: 1;
  }
  &:active:not(:hover){
    background-color: darken(#0243a6, 15);
    animation: pulse;
  }
}

.animated{
  //animation: gra 0.5s ;
  //animation-iteration-count: infinite;
}


@keyframes gra {
  0%{ background: linear-gradient(to right, #0243a6 60%,#0362f2 80%,lighten(#0243a6, 20%) 100%)}
  10%{ background: linear-gradient(to right, #0243a6,#0362f2 60%, lighten(#0243a6, 20%) 80%,#0362f2 100%)}
  20%{  background: linear-gradient(to right, #0243a6,#0362f2 40%, lighten(#0243a6, 20%) 60%, #0362f2 80%,#0243a6 100%)}
  30%{ background: linear-gradient(to right, #0243a6,#0362f2 20% ,lighten(#0243a6, 20%) 40%, #0362f2 60%,#0243a6)}
  40%{ background: linear-gradient(to right, #0362f2,lighten(#0243a6, 20%) 20% ,#0362f2 40%, #0243a6)}
  50%{ background: linear-gradient(to right, lighten(#0243a6, 20%),#0362f2 20% ,#0243a6 40%, #0243a6)}
  60%{ background: linear-gradient(to right, #0362f2,lighten(#0243a6, 20%) 20% ,#0362f2 40%, #0243a6)}
  70%{ background: linear-gradient(to right, #0243a6,#0362f2 20% ,lighten(#0243a6, 20%) 40%, #0362f2 60%,#0243a6)}
  80%{  background: linear-gradient(to right, #0243a6,#0362f2 40%, lighten(#0243a6, 20%) 60%, #0243a6 80%,#0243a6 100%)}
  90%{ background: linear-gradient(to right, #0243a6,#0362f2 60%, lighten(#0243a6, 20%) 80%,#0362f2 100%)}
  100%{ background: linear-gradient(to right, #0243a6 60%,#0362f2 80%,lighten(#0243a6, 20%) 100%)}
}

@keyframes pulse {
  0% { box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2); }
}
