@import "../../scss/default-variables";
@import "../../scss/common-styles";
@import "../../scss/media";

.main-layout-container{
  display: flex;
  flex-direction: row;
  background: $secondary-surface-colour;
  width: 100vw;
  height: 100vh;
}
.main-sidebar {
  //width: 300px;
  height: 100%;
  @include commonMobile{
    display: none;
  }

  //margin: 64px 0;
  //padding:  8px 16px;
}
.main-content{
  display: block;
  position: relative;
  //background: blue;

  width:80%;
  //height: 100%;
  //left:20%;
  padding:  8px 16px;
}