.form-search {
  display: flex;
  grid-column-gap: 2px;
  &__wrapper {
    max-width: 271px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    &:first-child > input {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      display: flex;
      justify-content: start;
      flex-direction: row;
      align-items: center;
      margin-left: 24px;
      height: 56px;
      margin-top: 20px;
      max-width: 160px;
    }
    &:nth-child(2) > input {
      padding-left: 20px;
    }
    &:nth-child(3) {
      position: relative;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 8px;

    & > input {
      border-radius: 0 6px 6px 0;
      position: relative;
      margin-top: 0;
    }
    & > input[name="departure"] {
      border-radius: 6px 0 0 6px;
      position: relative;
    }
  }
  &__image {
    position: absolute;
    right: -16px;
    width: 33px;
    height: 32px;
  }
  &__icon {
    position: absolute;
    cursor: pointer;
    right: 8px;
  }
  &__label {
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
  &__input {
    background: #ffffff;
    margin-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #445978;
    &::placeholder {
      color: #9fb1c9;
    }
  }

  &__sample {
    margin-top: 8px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  &__text {
    font-size: 14px;
    line-height: 18px;
  }
  &__btn {
    border: none;
    font-size: 14px;
    line-height: 18px;
    background: none;
    color: #ffffff;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      color: #000000;
    }
  }
  &__calendar{
    position: absolute;
    top:105px;
    z-index: 15;
  }
  &__btn-submit {
    background: #e23f35;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    max-width: 160px;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.5s ease-in-out;
    &:hover {
      background: #b7170d;
    }
  }
}
.react-calendar {
  max-width: 271px;
  width: 100%;
}
.react-calendar__navigation {
  height: 25px;
}
.react-calendar__navigation button {
  min-width: 30px;
}
.react-calendar__tile {
  padding: 5px 6.6667px;
}
.react-calendar__tile--now {
  background: #0243a6!important;
}
.react-calendar__month-view__days__day--neighboringMonth{
  pointer-events: none;
}
.react-calendar__tile--now{
  cursor: pointer;
  pointer-events: inherit;

}
.react-calendar__tile:disabled{
  background:none;
  pointer-events:none;
}
.react-calendar__tile--now:hover,
.react-calendar__tile--now:focus {
  color: #0243a6!important;
  background:#FFFFFF!important;
  box-shadow: 0px 0px 2px #0243a6!important;
}
@media (max-width: 768px) {
  .form-search {
    &__wrapper {
      max-width: 100%;
      position: relative;
      flex-direction: row;
      align-items: center;
      &:nth-child(2) > input {
        padding-left: 12px;
      }
      &:last-child {
        max-width: 100%;
        margin-left: 0;
        margin-top: 24px;
        justify-content: center;
      }
    }
    &__label {
      position: absolute;
      color: #9fb1c9;
      right: 12px;
      z-index: 10;
      padding-top: 4px;
    }
    &__input {
      margin-top: 2px;
    }
    &__container {
      background-color: #D24A43;
      margin-top: 2px;
      & input[name="departure"] {
        border-radius: 6px 6px 0px 0px;
      }
      & > input {
        margin-top: 0;
        border-radius: 0px 0px 6px 6px;
      }
    }
    &__image {
      right: 12px;
      bottom: -18px;
      transform: rotate(90deg);
      z-index: 5;
    }
    &__sample {
      display: none;
    }
    &__btn-submit {
      width: 100%;
      max-width: 350px;
    }
    &__icon {
      right: 47px;
    }
    &__calendar {
      top: 60px;
      right:0;
    }
  }
  .react-calendar {
    max-width:310px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .react-calendar {
    max-width:310px;
    width: 100%;
  }
}
