

$primary-color:#00468E;
$secondary-color:#28478B;
$primary-surface-color:#FFFFFF;
$secondary-surface-colour:#f5f6f7;
$on-primary-colour:#FFFFFF;
$primary-action-color:#DA251C;
$secondary-action-color:#D24A43;

$primary-text-color:#6c7992;
$selected-text-color:#344767;

$icon-box-color:#e9ecef;
$selected-icon-box-color:#17c1e8;


//input elements
$border-input-default: 1px solid #dee2e6;
$border-radius-default: 16px;
$height-input-field-desktop:35px;
//$input-padding:

//Dimensions
$padding-row-container-default: 8px 16px;
$gap-default: 6px;



